# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Asus\Desktop\MAG\1.Letnik\1.Semester\Uvod v bioinformatiko\workspace\homework-2---sequence-alignment-GHJB42\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
